################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SIT221_PBL2/bin/Debug/netcoreapp2.0
/SIT221_PBL2/obj
